{% extends 'hw_main.html' %}
{% load static %}

{% block link %}{% static 'hw/css/hw_main.css' %}{% endblock %}
{% block jqueryscript %}
<script>
    $(document).ready(function () {
        $('#ex_file').on('change', function () {
            var files = $('#ex_file').prop("files");
            var names = $.map(files, function (val) {
                return val.name;
            });
            $('#file_list').empty();
            $.each(names, function (i, name) {
                $('#file_list').append("<div>" + name + "</div>");
            });
        })
    })
</script>
{% endblock %}

{% block content %}

<body>
    <div id="page-wrapper">
        <div id="featured" class="container">
            <div class="title">
                <h2>{{ homework.title }}</h2>
                <span>마감일 : {{ homework.end_date }}</span>
            </div>
            <div class="jumbotron">
                여기에 공지사항 내용 쓸거임 ㅇㅇ {{ homework.content }}
            </div>
        </div>
    </div>

    {% if check != 0 %}
    <div class="container">
        <h3>내가 제출한 과제</h3>
        <div>마감일 : {{ homework.end_date }}</div>
        <form action="{% url 'submit' homework.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ check.register_content }}
            <div class="filebox">
                <div id="div_files">
                    {% for sfile in check.files.all %}
                    <div>
                        <a href="{{ sfile.file.url }}" download="" value=""
                            style="color: rgb(151, 151, 151); font-size: 13px; font-weight: lighter;"><span
                                class="icon solid fas fa-file"> {{ sfile.file }}</span></a>
                    </div>
                    {% endfor %}
                </div>
                {#                    <label for="ex_file">파일선택</label>#}
                {#                    <input name="submission_files" type="file" id="ex_file" multiple>#}
            </div>
            <div id="file_list"></div>
            <button class="btn btn-secondary" type="submit">수정</button>
        </form>
    </div>

    {% else %}
    <div>
        <h3>과제 제출 전</h3>
        <div>마감일 : {{ homework.end_date }}</div>
        <form action="{% url 'submit' homework.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <textarea name="submission_content"></textarea><br>
            <div class="filebox">
                <label for="ex_file">파일선택</label>
                <input name="submission_files" type="file" id="ex_file" multiple>
            </div>
            <div id="file_list"></div>
            <button class="btn btn-secondary" type="submit">제출</button>
        </form>
    </div>
    {% endif %}

    <div id="copyright">
        <p>&copy; MJU X LIKELION 8th | All rights reserved. </p>
    </div>
</body>
{% endblock %}