{% extends 'base.html' %}
{% load static %}
{% load djangoutils %}
{% block link %}{% static 'hw/css/default.css' %}{% endblock %}
{% block content %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="{% static 'hw/css/hw_main.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'hw/css/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
    <div id="page-wrapper">
        <div id="featured" class="container">
            <div class="title">
                <h2>과제 제출 및 공지사항</h2>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">과제명</th>
                        <th scope="col">마감일</th>
                        <th scope="col">마감여부</th>
                        <th scope="col">제출여부</th>
                    </tr>
                </thead>
                <tbody>
                    {% for h in homeworks.all reversed %}
                    <tr onclick="location.href='{% url 'detail' h.id %}'" style="cursor:pointer;">
                        <th scope="row">{{ h.id }}</th>
                        <td>{{ h.title }}</td>
                        <th scope="row">{{ h.end_date }}</th>
                        <td>
                            {% if h.check == True %}
                            진행중
                            {% else %}
                            제출마감
                            {% endif %}
                        </td>
                        <td>
                            {% if confirm|get_value_from_dict:h.id != None %}
                                제출
                            {% else %}
                                미제출
                            {% endif %}
                        </td>
                        {#                        제출 / 미제출로 표시#}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            {% if user.is_superuser == True %}
            <a href="{%url 'notice_new'%}" class="btn btn-primary">공지사항 추가</a>
            {% endif %}
        </div>
    </div>

    <div id="copyright">
        <p>&copy; MJU X LIKELION 8th | All rights reserved. </p>
    </div>
</body>

</html>
{% endblock %}

<!-- <h3>최근 공지사항</h3>
<p>제목 : {{ lastest.title }}</p>
<p>마감일 : {{ lastest.end_date }}</p>
<p>내용 : {{ lastest.content }}</p> -->