{% extends 'hw_main.html' %}
{% load static %}

{% block link %}{% static 'hw/css/hw_main.css' %}{% endblock %}
{% block title %}공지사항 작성{% endblock %}
{% block content%}

<body>
    <div id="page-wrapper">
        <div id="featured" class="container">
            <div class="title">
                <h2>공지사항 작성</h2>
                <form action="{% url 'notice_new' %}" method="POST" enctype="multipart/form-data" name="edit" id="edit">
                    <div class="jumbotron">
                        {% csrf_token %}
                        <p class="lead">제목</p>
                        <input name='title' class="title" type="text" >
                        <p class="lead">내용</p>
                        <textarea name="content" cols="50" rows="10"></textarea>
                        <p class="lead">마감일</p>
                        <input name="end_date" class="date"type="date">
                        <p class="lead">첨부파일</p>
                        <input name="notice_file" type="file" multiple>
                    </div>
                    {% if user.is_superuser == True %}
                    <input type="submit" class="btn btn-primary btn-lg" value="공지사항 추가" onclick="submit_btn()">
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <script>
        function submit_btn() {
            var check_date = document.edit.submitdate.value;
            if (check_date == "") {
                alert("마감일을 입력해주세요");
            } else {
                alert("공지가 등록되었습니다.");
                document.getElementById('edit').submit();
            }
        }
    </script>
</body>
{% endblock %}