@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

body{
  font-family: 'Noto Sans KR', sans-serif;
    background-color: black;
		background-image: url("../images/bg.jpg");
		background-size: cover;
    background-position: top center;
    color: white;
}

h2 {
  color:rgba(255, 255, 255, 0.788);
  margin-left:12px;
}

form {
  position:relative;
  margin: 50px auto;
  width: 380px;
  height: auto;
}

.inputUserIcon {
  position:absolute;
  top:68px;
  right: 80px;
  color : black;
}

.inputPassIcon {
  position:absolute;
  top:136px;
  right: 80px;
  color : black;
}

input {
  padding: 16px;
  border-radius:7px;
  border:0px;
  background: rgba(255, 255, 255, 0.788);
  display: block;
  margin: 15px;
  width: 300px;  
  color:rgb(0, 0, 0);
  font-size:18px;
  height: 54px;
  font-weight: bold;
}

input:focus {
  outline-color: rgba(0,0,0);
  background: rgba(255,255,255,.95);
  color: #721d8bbd;
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.842);
  font-weight: bold;
}

input:focus::-webkit-input-placeholder {
  color: #721d8bbd;
}


