@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

body {
    background: #000000;
    font-family: 'Roboto', sans-serif;
  }

h2 {
  color:#E18A07;
  margin-left:12px;
}

form {
  position:relative;
  margin: 50px auto;
  width: 380px;
  height: auto;
}

.inputUserIcon {
  position:absolute;
  top:68px;
  right: 80px;
  color:#E18A07;
}

.inputPassIcon {
  position:absolute;
  top:136px;
  right: 80px;
  color:#E18A07;
}

input {
  padding: 16px;
  border-radius:7px;
  border:0px;
  background: rgba(255,255,255,.2);
  display: block;
  margin: 15px;
  width: 300px;  
  color:white;
  font-size:18px;
  height: 54px;
}

input:focus {
  outline-color: rgba(0,0,0,0);
  background: rgba(255,255,255,.95);
  color: #E18A07;
}

input::-webkit-input-placeholder {
  color: white;
}

input:focus::-webkit-input-placeholder {
  color: #E18A07;
}


