@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
body{
  font-family: 'Noto Sans KR', sans-serif;
  background-color:#F2F1EB;
}
h1{
  text-align: right;
  font-size: 50px;
  margin: 30px;
}
select{
  background-color: #F2C029;
  border: none;
  border-radius: 10px;
}
select:focus{
  border: none;
  background-color:#F27B35;
  color:white;
}
div.up{
  margin:20px;
  font-size: 20px;  
}
div.email{
  margin-top: 20px;
}
div.down{
  margin-top: 20px;
  font-size: 20px;
  margin-left: 20px;
}
input{
  border: none;
  background-color: #F2C029;
  color: black;
  border-radius: 10px;
}
input.name{
  border: none;
  width: 100px;
  text-align: center;
}
input:focus{
  border: none;
  background-color:#F27B35;
  color:white;
  border-radius: 10px;
}
div.form-actions{
  margin-left: calc(100%/1.15);
  margin-top: -10px;
}
button{
  width: 180px;
  height: 40px;
  text-decoration: none;
  border: 2px solid black;
  color: black;
}
div.panel.panel-default.registration{
  margin-left: 150px;
}
button:focus{
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5) inset;
}
button:hover{
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5) inset;
}
input:hover{
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5) inset;
}
input.email.data{
  width:130px;
}