@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.shell {
    display: grid;
    grid-template-columns: 0 1fr 0;
    grid-template-rows: auto 8em 1fr auto;
  }
  
  @media (min-width: 600px) {
    .shell {
      grid-template-columns: 20px 1fr 20px;
    }
  }
  
  /* overlap */
  .shell:before {
    content: "";
    grid-column: 1/-1;
    grid-row: 1/3;
    background-image: linear-gradient( 135deg, #FD6585 10%, #0D25B9 90%);
  }
  
  .shell-header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: white;
    background-image: linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);
    padding: 35px 20px;
    font-family: 'Noto Sans KR', sans-serif; 
    font-weight: bolder;
  }
  h2,h4{
    font-family: 'Noto Sans KR', sans-serif; 
    font-weight: bolder;

  }
  .shell-body {
    grid-row: 2 / 4;
    grid-column: 2 / 3; 
    min-height: 40vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.25);
    background-color: #FFF;

  }
  
  .shell-footer {
    grid-column: 2/3;
    grid-row: -1;
    padding: 20px; 
  }
  
div.answer_form{
  border: 1px  solid rgb(179, 179, 179);
  margin-bottom: 15px;
  padding: 10px;
  width: 95%;
  margin-left: calc(100%/50);
}  
button{
  text-align: center;
  font-weight: bold;
  border: 0.5px solid black;
  width: 50px;
}
input{
  text-align: center;
  font-weight: bold;
  border: 0.5px solid black;
}

.asker {
  color: black;
}
p.icon{
  font-family: "Font Awesome 5 Free"; font-weight: 900;
}