@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
body{
    background-color: #F2F2F2;
    font-family: 'Nanum Gothic Coding', monospace;
}
h1{
    color : #5653A6;
    font-family: 'Black Han Sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
}
h3,h4{
    font-family: 'Black Han Sans', sans-serif;
}
div.entire {
    width: 100%;
    height: 100%;
    font-family: 'Nanum Gothic Coding', monospace;
}

div.question_form{
    width: 48%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-family: 'Nanum Gothic Coding', monospace;
}

div.answer_form{
    width: 50%;
    float: right;
    margin-right: 10px;
    margin-top: 30px;
    border: rgb(223, 213, 209) 2px solid;
    font-family: 'Nanum Gothic Coding', monospace;
}

input.button{
    font-weight: bold;
    font-family: 'Nanum Gothic Coding', monospace;
}
a.user_name{
    font-family: 'Nanum Gothic Coding', monospace;
}