@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

body{
    background-color: white;
    color: black;
}

h1{
    color : #E18A07;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 50px;
    text-shadow: 2px 2px 4px #e2a113;
    text-decoration: underline;
    margin-top: 10px;
    border-right: .1em solid black;
	width: 17ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 3s steps(14, end),
	           blink-caret .5s step-end infinite alternate;
               
}

div.question_form{
    margin-left: calc(100%/2.5);
    margin-top: 70px;
    font-family: 'Noto Sans KR', sans-serif;

}

div{
    font-family: 'Noto Sans KR', sans-serif;
}

div.answer_form{
    margin-left: calc(100%/2.5);
    margin-top: 20px;
    width: 350px;
    border-top: #222 2px solid;
}

textarea.question{
    border: #E18A07 2px solid ;
    background-color: rgb(248, 214, 163);
    color: black;
    font-size: small;
    box-shadow: 5px 5px 5px rgb(134, 83, 5);
}

textarea.answer{

}

input.button{
    transition:all .3s ease-out; 
    border: rgb(245, 158, 28) 2px solid ;
    background-color: rgb(245, 158, 28);
    border-radius: 15px;
    box-shadow:
    1px 1px 0 0 #d98e20,
    2px 2px 0 0 #d98e20;


}

input.button:hover{
        color:rgb(255, 255, 255);
}
input.button.activate{
        color:#222;
        box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
          1px 1px 0 0 #d98e20,
          2px 2px 0 0 #d98e20,
          3px 3px 0 0 #d98e20,
          4px 4px 0 0 #d98e20,
          5px 5px 0 0 #d98e20;
}

textarea::-webkit-input-placeholder{
    color:rgba(0, 0, 0, 0.288);
    font-size: small;
}


