/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

/* nav */

body{
    font-family: "Noto Sans KR", sans-serif;
}

nav.navbar a {
    color:rgb(180, 179, 179);
    border-bottom: 0px #666;
}

    nav.navbar a.navbar-brand{
        color: rgb(255, 153, 0);
        text-shadow: 1px 1px 1px gray; 
        font-weight: bold !important;
        font-size: 25px, !important;
    }

    nav.navbar a.nav-item.nav-link, nav.navbar a.nav-item.nav-link.active {
        color:rgb(180, 179, 179);
    }

.nav-item{
    font-size: 15px !important;
}
    
    .nav-item.user{
        margin-left: calc(100%/1.7) !important;
        color: white;
        font-size: 15px !important;
    }

    .nav-item.nav-link.ml-auto{
        font-size: medium;
        color:rgb(180, 179, 179);
    }

.sr-only{
    color:rgb(180, 179, 179);
}
