/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body, section, nav{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
}

/* nav */

nav.navbar a {
    color:rgb(180, 179, 179);
    border-bottom: 0px #666;
}

    nav.navbar a.navbar-brand{
        background: rgb(184,137,145);
        background: linear-gradient(90deg, rgba(184,137,145,1) 0%, rgba(60,118,145,1) 50%, rgba(204,154,119,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 1.5rem;
    }

    nav.navbar a.nav-item.nav-link, nav.navbar a.nav-item.nav-link {
        color:rgb(180, 179, 179);
    }

.nav-item{
    font-size: 1rem !important;
}
    
    .user{
        /* margin-left: calc(100%/1.7) !important; */
        color: white !important;
        font-size: 1rem !important;
    }

    .nav-item.nav-link.ml-auto{
        font-size: 1rem;
        color:rgb(180, 179, 179);
    }

.sr-only{
    color:rgb(180, 179, 179);
}

/* Notice Pages Css */ 
