@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');

body{
    background-color:white;
    text-transform: uppercase; 
    color: rgb(226, 120, 21); 
    text-align: center; 
}


h1{
    position: absolute;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-left: calc(100%/4.3);
    font-size: 100px;
    text-shadow:     
    0 1px 0 hsl(174,5%,80%),
    0 2px 0 hsl(174,5%,75%),
    0 3px 0 hsl(174,5%,70%),
    0 4px 0 hsl(174,5%,66%),
    0 5px 0 hsl(174,5%,64%),
    0 6px 0 hsl(174,5%,62%),
    0 7px 0 hsl(174,5%,61%),
    0 8px 0 hsl(174,5%,60%),

    0 0 5px rgba(0,0,0,.05),
   0 1px 3px rgba(0,0,0,.2),
   0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.2),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.3);
}
