{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block link %}{% static 'account/css/register.css' %}{% endblock %}
    {% block title %}Likelion Camp{% endblock %}
    {% block jqueryscript %}
        <script type="text/javascript">
            $(function(){
                $('#userPw').keyup(function(){
                    $('#chkNotice').html('');
                });

                $('#userPwChk').keyup(function(){

                    if($('#userPw').val() != $('#userPwChk').val()){
                        $('#chkNotice').html('비밀번호 일치하지 않음<br><br>');
                        $('#chkNotice').attr('color', '#f82a2aa3');
                    } else{
                        $('#chkNotice').html('비밀번호 일치함<br><br>');
                        $('#chkNotice').attr('color', '#199894b3');
                    }

                });
            });
        </script>
    {% endblock %}
</head>
{% block content%}
    <body>
    <p><span>회원 가입</span></p>
    <div class="panel panel-default registration">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div><h4>이름 </h4><input type="text" name="name"/></div>
                <div><h4>이메일</h4><input type="email" name="email"/></div>
                <div><h4>기수</h4> <h8 style="color:rgb(212, 211, 211); font-weight: lighter;">박스를 눌러서 기수를 선택해주세요.</h8>
                    <select id="grade" name="grade">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select></div>
                <div><h4>비밀번호</h4><input type="password" id="userPw" name="password1"/></div>
                <div><h4>비밀번호 확인</h4><input type="password" id="userPwChk" name="password2"/></div>
                <span id="chkNotice"></span>
                <div class="form-actions">
                    <button class="button" type="submit"> 가입하기</button>
                </div>
            </form>
        </div>
    </div>
    </body>
{% endblock %}


</html>