{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block link %}{% static 'stacklion/css/QnA.css' %}{% endblock %}
    {% block title %}Likelion Camp{% endblock %}
</head>

{% block content%}
    <body>
    <h1 style="text-align: center;">Question & Answer</h1>
    <div class="question_form">
        <h5>{{ user.name }}님의 질문</h5>
        <form action="{% url 'QnA' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <textarea name="question" rows="5" cols="50" placeholder="질문을 입력해주세요."></textarea><br>
            <input type="file" name="question_file">
            <input type="submit" value="등록">
        </form>
    </div>

    {% for question in questions.all reversed %}
        <div>
            -------------------------------------------------------------
            <div>{{ question.asker }}</div>
            <div>{{ question.pub_date }}</div>
            <div>{{ question.question_content }}</div>
            <div><a href="{{ question.question_file.url }}" download="">첨부파일 다운로드 {{ question.question_file }}</a> </div>
            <div>
                <form action="{% url 'refresh' %}" method="post">
                    <input type="hidden" value="{{ question.id }}" name="question_id">
                    <textarea name="answer" rows="1" cols="50" placeholder="답변을 입력해주세요."></textarea>
                    {% csrf_token %}
                    <input type="submit" value="답변">
                </form>
                {% for answer in question.answers.all %}
                    <div name="comment">
                    {{ answer.answerer }}
                    {{ answer.answer_content }}
                    </div>
                {% endfor %}
            </div>
            -------------------------------------------------------------
        </div>
    {% endfor %}


    </body>
{% endblock %}


</html>