{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block link %}{% static 'stacklion/css/QnA.css' %}{% endblock %}
    {% block title %}Likelion Camp{% endblock %}
    {% block jqueryscript %}
        <script type="text/javascript">
            $(document).ready(function () {
                {% if top %}
                    $('html').animate({scrollTop : 20 }, 400);
                {% endif %}
            })

            $(document).on('click', '.revise', function () {
                var id = $(this).attr("id");
                var content = $('#question_content'+id).html();
                var top = $('#question_content'+id).scrollTop();

                $('#question_content'+id).replaceWith('<textarea name="revise" id="textarea'+id+'">'+content+'</textarea>');
                $('#buttonpanel'+id).html('<button type="button" id="'+id+'" class="button cancel" value="취소">취소</button>\n' +
                    '                        <button name="submit" type="submit" id="'+id+'" class="button complete" value="확인">확인</button>' + '<input type="hidden" name="scrolltop" value="'+top+'"/>');
                {#$('#buttonpanel'+id).load(window.location.href + '#buttonpanel'+id);#}
                {#window.location.reload();#}
            })

            $(document).on('click', '.cancel', function () {
                var id = $(this).attr("id");
                    console.log(id);
                    var content = $('#textarea'+id).html();
                    console.log(content);

                    $('#textarea'+id).replaceWith('<div id="question_content'+id+'">'+content+'</div>');
                    $('#buttonpanel'+id).html('<button type="button" id="'+id+'" class="button revise" value="수정">수정</button>\n' +
                        '                        <button type="submit" id="'+id+'" class="button delete" value="삭제">삭제</button>');

            })

            {#$(function () {#}
            {#    $(".cancel").click(function(){#}
            {#        var id = $(this).attr("id");#}
            {#        console.log(id);#}
            {#        var content = $('#textarea'+id).html();#}
            {#        console.log(content);#}
            {##}
            {#        $('#textarea'+id).replaceWith('<div id="question_content'+id+'">'+content+'</div>');#}
            {#        $('#buttonpanel'+id).html('<button type="button" id="'+id+'" class="button revise" value="수정">수정</button>\n' +#}
            {#            '                        <button type="submit" id="'+id+'" class="button delete" value="삭제">삭제</button>');#}
            {#    });#}

        </script>
    {% endblock %}
</head>

{% block content%}
    <body>
    <h1 style="text-align: center;">Question & Answer</h1>
    <div class="question_form">
        <h5>{{ user.name }}<a style="font-size: small; color:#E18A07">님의 질문</a></h5>
        <form action="{% url 'QnA' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <textarea class="question" name="question" rows="10" cols="50" placeholder="질문을 입력해주세요."></textarea><br>
            <input type="file" name="question_file" style="color : #E18A07; font-size: small;" multiple>
            <output id="list"></output>
            <input class="button" type="submit" value="등록">
        </form>
    </div>

    {% for question in questions.all reversed %}
        <div id="{{ question.id }}" class="answer_form">
            <form action="{% url 'refresh' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="val" value="revise"/>
                <input type="hidden" name="id" value="{{ question.id }}"/>

                <a style="background-color: rgb(216, 216, 216);">{{ question.asker }} / {{ question.pub_date }}</a>
                <div id="question_content{{ question.id }}">{{ question.question_content }}</div>
                {% if question.asker == user %}
                    <div id="buttonpanel{{ question.id }}"name="revise">
                        <button type="button" id="{{ question.id }}" class="button revise" value="수정">수정</button>
                        <button name="submit" type="submit" id="{{ question.id }}" class="button delete" value="삭제">삭제</button>
                    </div>
                {% endif %}

                {% if question.question_file.url != None %}
                    <div><a href="{{ question.question_file.url }}" download="">첨부파일 다운로드 {{ question.question_file }}</a> </div>
                {% endif %}
            </form>

            <form action="{% url 'refresh' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="val" value="answer"/>
                <input type="hidden" value="{{ question.id }}" name="question_id">
                <textarea class="answer" name="answer" rows="2" cols="50" placeholder="답변을 입력해주세요."></textarea>
                <br>
                <input type="submit" class="button" value="답변" >
            </form>

            {% for answer in question.answers.all %}
                <div name="comment">
                    {{ answer.answerer }} )
                    {{ answer.answer_content }}
                </div>
            {% endfor %}
        </div>

    {% endfor %}


    </body>
{% endblock %}


</html>