{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block link %}{% static 'homework/css/detail.css' %}{% endblock %}
    {% block title %}Likelion Camp{% endblock %}
</head>
{% block content%}
<body>
    <header class="main-header">
        <div class="header-inner">
            <h1>{{post.author}}님의 과제제출</h1>
    </header>
    <div class="content">
        <h3>〖 제목 〗</h3>  
        {{post.title}}
        <h3>〖 내용 〗</h3>
        {{post.content}}
        <br>
    {% if post.post_file.url != None %}
    <div style="margin-top: 10px;"><a href="{{ post.post_file.url }}" download="" style="color : rgba(255,255,255,.8);">{{ post.post_file }}</a> </div>
    {% endif %}
    <div class="box">
    {% if post.author == user %}
    <a href="{% url 'edit' post.id %}" style="color : rgba(255,255,255,.8); border: 1px solid rgba(255,255,255,.8); font-size: 20px;">&nbsp수정&nbsp</a>
    &nbsp&nbsp&nbsp<a href="{% url 'delete' post.id %}" style="color : rgba(255,255,255,.8); border: 1px solid rgba(255,255,255,.8);font-size: 20px;">&nbsp삭제&nbsp</a>
    {% endif %}
    </div>
    
</body>
{% endblock %}


</html>