{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block link %}{% static 'homework/css/homeworklist.css' %}{% endblock %}
    {% block title %}Likelion Camp{% endblock %}
</head>
{% block content%}
<body>
    <h1>공지사항</h1><br>
    
    {% if notice.author == superuser %}
    <a href="{%url 'noticenew'%}" id="noticenew">공지사항 추가</a><br><br>
    {% endif %}
    
    {% for notice in notices.all reversed %}
    <a href="{%url 'noticedetail' notice.id %}">{{notice.title}}</a>
    {{notice.pub_date}}
    {{notice.author}}
    <br>
    {% endfor %}
    <h1>과제 제출</h1><br>
    

    <a href="{%url 'homeworknew'%}" id="homeworknew">제출하기</a><br><br>
    {% for post in posts.all reversed %}
    
    <a href="{%url 'detail' post.id %}">{{post.title}}</a>
    {{post.pub_date}}
    {{post.author}}
    <br>
    {% endfor %}
   
</body>
{% endblock %}


</html>