{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Likelion Camp</title>
</head>
{% block content%}
<body>
    <h1>과제 제출</h1><br>


    <a href="{%url 'new'%}" id="new">제출하기</a><br><br>
    
    {% for post in posts.all reversed %}
    <a href="{%url 'detail' post.id %}">{{post.title}}</a>
    {{post.pub_date}}
    <br>
    {% endfor %}
   
</body>
{% endblock %}


</html>