{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Likelion Camp</title>
</head>
{% block content%}
<body>
    <h2 style="color: red;">공지사항 추가</h2><br>
    {{user.name}}
    <form action="{% url 'noticenew' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>제목</h3>
        <input type="text" name='title'>
        <h3>내용</h3>
        <textarea name="content" cols="50" rows="10"></textarea>
        <br>
        <input type="file" name="notice_file">
        <input type="submit" value="등록" onclick="submit_btn()">
    </form>
    <script>
        function submit_btn(){
            alert("공지가 등록되었습니다.")
        }
</script>
</body>
{% endblock %}


</html>