{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block link %}{% static 'homework/css/noticeedit.css' %}{% endblock %}
    {% block title %}Likelion Camp{% endblock %}
</head>
{% block content%}
<body>
    <header class="main-header">
        <div class="header-inner">
            <h1>공지사항 수정</h1>
        </div>
    </header>
    <div class="content">
        <form name="edit" action="{% url 'noticeedit' notice.id %}" method="POST" enctype="multipart/form-data" id="edit">
            {% csrf_token %}
            <h3>〖 마감일 〗</h3>
            <input  type="date" name="submitdate" class="date">
            <h3>〖 내용 〗</h3>
            <textarea name="content" cols="50" rows="10">{{notice.content}}</textarea>
            <br>
            <input type="file" name="notice_file">
            <input type="button" value="수정" onclick="submit_btn()"  class="submit"> 
    
        </form>
    
    </div>
    <script>
        function submit_btn(){
            var check_date = document.edit.submitdate.value;
            if(check_date == ""){
                alert("마감일을 입력해주세요");
            }
            else{
                alert("공지가 수정되었습니다.");
                document.getElementById('edit').submit();
                
            }
            
        }
</script>



   
</body>
{% endblock %}


</html>
