@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Noto Sans KR', sans-serif; 
    line-height: 1.5;
    margin: 0;
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }

 
 .header-inner {
   max-width: 60%;
   margin: 0 auto;
 }
 
 h1 {
   color: #fff;
   font-weight: 900;
   padding-top: 4rem;
   margin: 0;
   text-transform: uppercase;
   font-size: 3rem;
   line-height: .8;
   text-shadow: -10px 5px 30px rgba(0,0,0,.2), -20px 10px 30px rgba(0,0,0,.1), -30px 10px 30px rgba(0,0,0,.1), -3px 2px 5px rgba(0,0,0,.1), 3px -2px 5px rgba(0,0,0,.1);
 }
 
 h1 span {
   display: block;
 }
 
 .content {
    max-width: 60%;
    margin: 0 auto 9rem;
    margin-top: 30px;
  }

  h3 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 3rem;
    color: rgba(255,255,255,.8);
  }

  textarea{
    border: 1px solid rgba(255,255,255,.8);
    background: #b183aa8e; 
    margin-bottom: 5px;
    color: rgba(26, 26, 26, 0.801);
  }
  input.title{
    border: 1px solid rgba(255,255,255,.8);
    background: #6c5b7b8e; 
    color: rgba(255, 255, 255, 0.801);
  }
  input.submit{
    border: 1px solid rgba(255,255,255,.8);
    background: #b183aa8e;  
    color: rgba(255, 255, 255, 0.801);
    margin-left: calc(100%/12);
  }
  input{
    color : rgba(255,255,255,.8);
  }
  input.date{
    color: rgba(26, 26, 26, 0.801);
    background: #b183aa8e; 
    border: 1px solid rgba(255,255,255,.8);
  }
