*:root {
    --main-height: calc(100vh - 7rem);
}

.main {
    height: auto;
    width: 100vw;
}

.footer{
    height: 3.5rem;
    width: 100vw;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-row-link{
    cursor: pointer;
}

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #000000;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    /* 이게 file 숨기는 코드 !!!! 아래가 */
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
