@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

.shell {
    display: grid;
    grid-template-columns: 0 1fr 0;
    grid-template-rows: auto 8em 1fr auto;
  }
  
  @media (min-width: 600px) {
    .shell {
      grid-template-columns: 20px 1fr 20px;
    }
  }
  
  /* overlap */
  .shell:before {
    content: "";
    grid-column: 1/-1;
    grid-row: 1/3;
    background-color: rgb(255, 153, 0);
  }
  
  .shell-header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: white;
    background-color: rgb(255, 153, 0);
    padding: 35px 20px;
    font-family: 'Black Han Sans', sans-serif;

  }
  h2{
    font-family: 'Black Han Sans', sans-serif;

  }
  .shell-body {
    grid-row: 2 / 4;
    grid-column: 2 / 3; 
    min-height: 50vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.25);
    background-color: #FFF;

  }
  
  .shell-footer {
    grid-column: 2/3;
    grid-row: -1;
    padding: 20px; 
  }
  
  body {
    margin:0;
    font-family: 'Gothic A1', sans-serif;
  }
  .btn {
    border-radius: 5px;
    padding: 10px 20px;
    font-size:15px;
    text-decoration: none;
    margin: 5px;
    color: #fff;
    position: relative;
    display: inline-block;
    font-family: 'Gothic A1', sans-serif;
  }
  
  .btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }
  .orange {
    background-color: rgb(255, 153, 0);
    box-shadow: 0px 3px 3px 0px #CD6509;
  }
  
  .orange:hover {
    background-color: #FF983C;
  }
  summary:focus{
    border: none;
  }