@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.shell {
    display: grid;
    grid-template-columns: 0 1fr 0;
    grid-template-rows: auto 8em 1fr auto;
  }
  
  @media (min-width: 600px) {
    .shell {
      grid-template-columns: 20px 1fr 20px;
    }
  }
  
  /* overlap */
  .shell:before {
    content: "";
    grid-column: 1/-1;
    grid-row: 1/3;
    background-image: linear-gradient( 135deg, #FD6585 10%, #0D25B9 90%);
  }
  
  .shell-header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: white;
    background-image: linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);
    padding: 35px 20px;
    font-family: 'Noto Sans KR', sans-serif; 
    font-weight: bolder;
  }
  h2{
    font-family: 'Noto Sans KR', sans-serif; 
    font-weight: bolder;

  }
  .shell-body {
    grid-row: 2 / 4;
    grid-column: 2 / 3; 
    min-height: 50vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.25);
    background-color: #FFF;

  }
  
  .shell-footer {
    grid-column: 2/3;
    grid-row: -1;
    padding: 20px; 
  }
  
  body {
    margin:0;
    font-family: 'Noto Sans KR', sans-serif; 
  }
  .btn {
    border-radius: 5px;
    padding: 10px 20px;
    font-size:15px;
    text-decoration: none;
    margin: 5px;
    color: #fff;
    position: relative;
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif; 
  }
  
  .btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }
  .orange {
    background-image: linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);
    box-shadow: 3px 3px 3px 0px #414040;
    border: none;
    margin: auto;
    margin-left: calc(100%/2.19);
  }
  
  .orange:hover {
    color: black;
    font-weight: bold;
  }
  summary:focus{
    border: none;
  }