{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    {% block title %}Likelion Camp{% endblock %}
    {% block link %}{% static 'page/css/parallax.css' %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i'" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
</head>
{% block content%}
<body>
    <div id="contents">
        <div id="section1"><h2>안녕 <strong>하세요</strong></h2></div>
        <div id="section2"><h2>Seeing is <strong>believing</strong></h2></div>
        <div id="section3"><h2>Asking costs <strong>nothing</strong></h2></div>
        <div id="section4"><h2><strong>Better</strong> 안녕하세요 </h2></div>
        <div id="section5"><h2><strong>Habit</strong> is second nature</h2></div>
        <div id="section6"><h2>Pain past is <strong>pleasure</strong></h2></div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        var nav = $("#nav ul li");
        var cont = $("#contents > div");

        nav.click(function(e){
            e.preventDefault();
            var target = $(this);
            var index = target.index();
            //alert(index);
            var section = cont.eq(index);
            var offset = section.offset().top;
            $("html,body").animate({ scrollTop:offset },600,"easeInOutExpo");
        });
    </script>
    <script src="../static/page/js/parallax.js"></script>
</body>
{% endblock %}
</html>