*:root {
    --main-height: calc(100vh - 7rem);
}

.main {
    height: var(--main-height);
    width: 100vw;
}

.footer{
    height: 3.5rem;
    width: 100vw;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-row-link{
    cursor: pointer;
}

/*-- Footer --*/

#copyright
{
    overflow: hidden;
    padding: 5em 0em;
    border-top: 1px solid rgba(0,0,0,0.08);
}

#copyright p
{
    letter-spacing: 0.20em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.90em;
    color: rgba(255,255,255,0.3);
}

#copyright a
{
    text-decoration: none;
    color: rgba(255,255,255,0.5);
}