@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: black;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: top center;
    color: white;
  }

h1 {
    color:  #721d8bbd;
    text-decoration: none;
    transition: 1s;
    text-shadow: 0 0 .1em, 0 0 .3em;
   }

